
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.jumbotron {
    background: transparent;
}

#errorAlert{
    display: none;
}

.tab-pane {
    margin: 20px 20px;
  }